:root {
  font-size: 18px;
  background-color: rgba(141, 200, 232, 0.15);
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    margin: 2rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 300;
  }

  h4 {
    font-size: 1.15rem;
    font-weight: 300;
  }

  input, .row, ol.autosuggest li {
    display: flex;
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
    padding: .8rem;
  }

  input, .row {
    border-radius: 3px;
  }

  input {
    border: 1px solid #d9d9d6;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: unset;
    width: 100%;
    padding: 0 1rem 5rem 1rem;

    @media(min-width: 1024px) {
      max-width: 45rem;
      min-width: 30rem;
      padding: 2rem 5rem 5rem 5rem;
    }

    .subheader {
      max-width: 90%;
      text-align: center;
      margin-top: 0;
    }

    #game-zone {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;
      margin: 2rem 0 4rem;

      hr {
        height: 1px;
        width: 100%;
        color: #63666a;
      }

      .game-number {
        margin: 0;
        font-weight: 500;
      }

      .player {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .round__player {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 1rem;

          .round__player__headshot {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
          }
        }

        .round__found {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
          font-style: italic;

          .round__found__college__correct {
            color: #6cc24a;

            &:before {
              content: "\002713";
              margin-right: .5rem;
              font-style: normal;
            }
          }

          .round__found__college__incorrect {
            color: #973638;

            &:before {
              content: "\002715";
              margin-right: .5rem;
              font-style: normal;
            }
          }

          .round__found__college__pending:before {
            content: "\002B58";
            margin-right: .5rem;
            font-style: normal;
          }
        }

        .round__guesses {
          display: flex;
          gap: 1rem;
          width: 100%;

          .round__guesses__column {
            display: flex;
            flex-direction: column;
            width: 100%;

            .round__guesses__input {
              position: relative;
              display: inline-flex;

              input {
                flex-grow: 1;
              }

              ol.autosuggest:empty {
                display: none;
              }

              ol.autosuggest {
                position: absolute;
                top: 100%;
                left: 0;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                max-height: 11rem;
                overflow-y: scroll;
                border: 1px solid #d9d9d6;
                border-radius: 3px;
                border-collapse: collapse;

                li {
                  background-color: #ffffff;
                }

                li:not(:last-child) {
                  border-bottom: 1px solid #d9d9d6;
                }

                li:hover {
                  background-color: #8dc8e8;
                }
              }
            }

            .guess {
              display: flex;
              justify-content: space-between;
              color: #b1b3b3;
              margin-top: 1rem;
            }

            .guess.incorrect {
              background-color: rgba(255, 0, 0, 0.2);
              color: #000000;
            }

            .guess.correct {
              background-color: rgba(0, 255, 0, 0.2);
              color: #000000;
              font-weight: 600;

							&:after {
								content: 'Nice!';
								display: inline-block;
								font-style: italic;
								font-size: 0.9rem;
								margin-left: 1.5rem;
								font-weight: 400;
							}
						}

            .guess.correctConference {
              background-color: rgba(255, 255, 0, 0.4);
              color: #000000;

							&:after {
								content: 'Correct Conference';
								display: inline-block;
								font-style: italic;
								font-size: 0.9rem;
								margin-left: 1.5rem;
								font-weight: 400;
							}
            }
          }
        }
      }
    }
  }

  .results-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 500;
    border-radius: 3px;
    background-color: #8dc8e8;
    padding: 3rem;

    .header {
      font-weight: 500;
      font-size: 2.5rem;
    }

    p {
      font-size: 1.75rem;
      margin-top: 0;
    }

    .result-emoji {
      font-size: 2rem;
      line-height: 2rem;
      text-wrap: nowrap;

      .league-results {
        display: flex;

        img {
          height: 2rem;
          width: 2rem;
        }
      }
    }

    #copy-results {
      font-size: .8rem;
      background-color: #00548c;
      color: #ffffff;
      margin: 2rem 0;
      padding: .75rem;
      border-radius: 3px;
      border: none;
      width: fit-content;
    }

    #close-results {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: transparent;
      border: none;
      font-weight: 200;

      &:hover {
        font-weight: 900;
        text-shadow: 1px 1px 1px #63666a;
      }
    }
  }

  .copied-popup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 3px;
    background-color: #d9d9d6;
    padding: 1rem;
    transition: opacity .1s;
    box-shadow: 2px 2px 2px #b1b3b3;
  }
}
